/* find-title component -- start */
.find-title {
  border-top: var(--border);
  font-size: 15px;
  font-weight: 600;
  color: var(--gray);
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
}
.find-title__column:nth-child(2) {
  color: var(--chev-gray);
  font-weight: 400;
}
/* find-title component -- end */

.recommended-friends span {
  display: block;
  text-align: center;
  margin: 80px 0 100px 0;
  color: gray;
}

.open-chat__element {
  border-bottom: var(--border);
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.open-chat__name {
  font-size: 18px;
  padding: 5px 0;
}
.open-chat__hashtag {
  color: gray;
  font-size: 15px;
  padding: 5px 0;
}
.open-chat__info {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: gray;
  padding: 3px 0;
}
.open-chat__info img {
  width: 20px;
  height: 20px;
  border-radius: 8px;
  margin-right: 5px;
}
.open-chat__info span:last-child {
  margin-left: 5px;
  color: hotpink;
}
.open-chat__element__column {
  position: relative;
}
.open-chat__img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 7px;
}
.open-chat__like {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  position: absolute;
  right: 8px;
  bottom: 8px;
  /* z-index: 1; */
  width: 53px;
  height: 22px;
  border-radius: 10px;
}
.open-chat__like i {
  margin-right: 4px;
}
@keyframes heartBeat {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: tomato;
    transform: scale(1.5);
  }
  100% {
    color: white;
    transform: none;
  }
}
.open-chat__like:hover i {
  will-change: transform;
  animation: heartBeat 1s linear infinite;
}
